<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
        var app = angular.module('MyApp', [])

        app.controller('MyController', function ($scope) {

        	$scope.goRootFolder = function(){
            $scope.data = [{
					"type":"pdf",
					"name":"Employee Handbook",
					"added":"2017-01-06"
				 },{
					"type":"pdf",
					"name":"Public Holiday policy",
					"added":"2016-12-06"
				 },{
					"type":"csv",
					"name":"Holiday policy",
					"added":"2016-12-08"
				 },{
					"type":"folder",
					"name":"Expenses",
					"files":[{
						"type":"doc",
						"name":"Expenses claim form",
						"added":"2017-05-02"
					},{
						"type":"doc",
						"name":"Fuel allowances",
						"added":"2017-05-03"
					}]
				 },{
					"type":"csv",
					"name":"Cost centres",
					"added":"2016-08-12"
				 },{
					"type":"folder",
					"name":"Misc",
					"files":[{
						"type":"doc",
						"name":"Christmas party",
						"added":"2017-12-01"
					 },{
						"type":"mov",
						"name":"Welcome to the company!",
						"added":"2015-04-24"
					 }]
			}];

            }

			$scope.init = function(){
				$scope.goRootFolder();
			}
			$scope.orderByMe = function(x) {
        		$scope.myOrderBy = x;
    		}
    		
    		$scope.oopenFolder = function(x) {
        		$scope.data = x;
    		}

    		
    		

        });

    </script>
<body ng-app="MyApp">
	<section ng-controller="MyController" ng-init="init()">
		
		<p><input type="text" ng-model="test"></p>
		<h1>Folders</h1>
		<table>
			<tr>
				<th ng-click="orderByMe('name')">Name</th>
			</tr>
			<tr ng-repeat="item in data | orderBy:myOrderBy | filter: {type: 'folder'} | filter: {name: test}">
				<td ng-click="oopenFolder(item.files)">{{item.name}}</td>
			</tr>
		</table>
		<h1>Files</h1>
		<table>
			<tr>
				<th ng-click="orderByMe('name')">Name</th>
				<th ng-click="orderByMe('type')">Type</th>
				<th ng-click="orderByMe('added')">Date Added</th>
			</tr>
			<tr ng-repeat="item in data | orderBy:myOrderBy | filter: {type: '!folder'} | filter: {name: test}">
				<td>{{item.name}}</td>
				<td>{{item.type}}</td>
				<td>{{item.added}}</td>
			</tr>
		</table>
		<input style="margin-top: 50px;" type="button" value="Go Back" ng-click="goRootFolder()" />
		<p>*Click on the specific column heading to sort by that property. To Go inside a folder click on the folder Name. </p>
		<p>*Click Go Back button to go back the root folder. </p>

	</section>	


</body>
</html> 